node_modules
package-lock.json
coverage
.DS_Store
.idea
.vscode
*.log
*.tsbuildinfo

# Ignore build output
build
dist

# Ignore test output
test-output

# Ignore temporary files
tmp
temp

# Ignore OS-specific files
Thumbs.db
Desktop.ini

# Ignore IDE-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore npm debug logs
npm-debug.log*

# Ignore lock files
yarn.lock

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

server/node_modules
server/package-lock.json
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.example